<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Pumpkin Rice Noodles</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>

<div class="container-fluid">
    <!-- Flag Taiwan-->
    <img src="" alt="" style="width:525px;height:350px;"/>
    <!-- Picture -->
    <img src="" alt="" style="width:350px;height:350px;"/>
    <!-- Recipe Name -->
    <h1>Pumpkin Rice Noodles</h1>
    <!-- Ingredients (Bullets) -->
    <h2>Ingredients</h2>
    <ul style="list-style-type:disc">
        <li>100g (3.5 oz) dried rice vermicelli</li>
        <li>2 tablespoons oil</li>
        <li>2 cloves garlic, minced</li>
        <li>100g (3.5 oz) ground pork</li>
        <li>100g (3.5 oz) pumpkin (or kabocha), diced</li>
        <li>½ cup water</li>
        <li>2 tablespoons soy sauce</li>
        <li>1 tablespoon sweet soy sauce</li>
        <li>3 dashes white pepper</li>
    </ul>
    <!-- Directions -->
    <h2>Directions</h2>
    <p>Serves 1 | Prep Time: 15 minutes | Cook Time: 5 minutes</p>
    <p>Soak the dried rice vermicelli in warm water for about 20 minutes. Drain the water and set aside.</p>
    <p>Heat up the oil in a wok and add the garlic. Stir-fry the garlic until aromatic before adding the ground pork and pumpkin.</p>
    <p>Add the water, soy sauce, sweet soy sauce, white pepper and bring to boil.</p>
    <p>Add the rice vermicelli into the wok, stir to combine well with the ingredients in the wok.
        Continue to stir fry until the vermicelli is cooked through and soaked up the sauce. Dish out and serve immediately.</p>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</div>
</body>
</html>