p{
    color:black;
    font-weight:bold;
    font-size:20px;
}
li{
    color:peachpuff;
    font-weight:bold;
    font-size:20px;
}
h1{
    color:orange;
    font-weight:bold;
    font-size:50px;
    font-family: 'Aladin', cursive;
}
h2{
    color:peachpuff;
    font-weight:bold;
    font-size:40px;
    font-family: 'Permanent Marker', cursive;
}
h5{
    font-family: 'Aladin', cursive;
}